In [3]:
hairstyles = ["bouffant", "pixie", "dreadlocks", "crew", "bowl", "bob", "mohawk", "flattop"]

prices = [30, 25, 40, 20, 20, 35, 50, 35]

last_week = [2, 3, 5, 8, 4, 4, 6, 2]

1

In [1]:
total_price = 0

2

In [4]:
for price in prices:
    total_price += price

3

In [6]:
average_price = total_price / len(prices)

4

In [7]:
average_price

31.875

5

In [10]:
new_prices = [price - 5 for price in prices]

6

In [11]:
new_prices

[25, 20, 35, 15, 15, 30, 45, 30]

7

In [22]:
total_revenue = 0

8

9

In [23]:
for i in range(len(hairstyles)):
    total_revenue += prices[i] * last_week[i]

10

In [24]:
total_revenue

1085

11

In [ ]:
average_daily_revenue = total_revenue / 7

print("Average daily revenue is ", average_daily_revenue)

Average daily revenue is  155.0

12

In [26]:
cuts_under_30 = [hairstyles[i] for i in range(len(new_prices)) if new_prices[i] < 30]

13

In [27]:
cuts_under_30

['bouffant', 'pixie', 'crew', 'bowl']